.menu-active{
   color: red !important;
}
.position-relative {
   position: relative;
}
.overlay-card {
   bottom: -450px;
   left: 50%;
   transform: translateX(-50%);
   width: 90%;
   z-index: 2;
}
.btn-custom, 
.btn-custom-app,
.btn-custom-download-app {
   background-color: black;
   color: white;
   border: 2px solid black; 
   transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;

}
.btn-custom:hover {
   background-color: white;
   color: black;
}

.btn-custom-download-app:hover {
   background-color: #FF5E62;
}

.statistical {
   background-color: white;
   transition: all 0.5s easy; 

}
.bg-about-us, 
.btn-custom-app:hover,
.statistical:hover {
   background-color: transparent;
   background-image: linear-gradient(80deg, #FF6A66 0%, #FEC783 100%);
}
.bg-app {
   background-image: linear-gradient(180deg, #FF6A66 0%, #FEC783 100%);
}
.icon-app {
   width: 100px;
   height: 100px;
}
.custom-image {
    width: 500px; /* Chiều rộng cố định */
    height: 700px; /* Chiều cao cố định */
    object-fit: cover; /* Cắt ảnh nếu cần để phù hợp với kích thước */
}
.contact {
    padding: 80px 0;
}
ul li a{
    text-decoration:none;
}

.bg-statistical{
    background-image: url('./image/istockphoto-1569244819-612x612.jpg'); 
    background-size: cover; 
    background-position: center;
}
.color-icon {
    color: #FF5E62;
    background-color: #FF5E62;
}