.menu-active{
   color: red !important;
}
.position-relative {
   position: relative;
}
.overlay-card {
   bottom: -450px;
   left: 50%;
   transform: translateX(-50%);
   width: 90%;
   z-index: 2;
}
.btn-custom, 
.btn-custom-app,
.btn-custom-download-app {
   background-color: black;
   color: white;
   border: 2px solid black; 
   transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;

}
.btn-custom:hover {
   background-color: white;
   color: black;
}

.btn-custom-download-app:hover {
   background-color: #FF5E62;
}

.statistical {
   background-color: white;
   transition: all 0.5s easy; 

}
.bg-about-us, 
.btn-custom-app:hover,
.statistical:hover {
   background-color: transparent;
   background-image: linear-gradient(80deg, #FF6A66 0%, #FEC783 100%);
}
.bg-app {
   background-image: linear-gradient(180deg, #FF6A66 0%, #FEC783 100%);
}
.icon-app {
   width: 100px;
   height: 100px;
}
.custom-image {
    width: 500px; /* Chiều rộng cố định */
    height: 700px; /* Chiều cao cố định */
    object-fit: cover; /* Cắt ảnh nếu cần để phù hợp với kích thước */
}
.contact {
    padding: 80px 0;
}
ul li a{
    text-decoration:none;
}

.bg-statistical{
    background-image: url('./image/istockphoto-1569244819-612x612.jpg'); 
    background-size: cover; 
    background-position: center;
}
.color-icon {
    color: #FF5E62;
   }
.bg-icon{
   background-color: #FF5E62;
}
.mobile-menu-active {
   color: white;
   background-color: #FF5E62;
   padding: 0; 
}
.nav-link.border-top:hover{
   background-color: #FF5E62;
   color: white;
}

.mobile-menu-active > .nav-link {
   padding: 0.75rem 1rem; 
   display: block; 
   background-color: #FF5E62; 
}

.mobile-menu .nav-link {
   padding: 0.75rem 1rem;
   display: block;
   /* border-top: 1px solid black; */
}


.hero-container {
   position: relative;
   height: 100vh; /* Chiều cao của container bằng 100% chiều cao của viewport trên màn hình lớn */
   overflow: hidden;
}

.hero-container video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%; /* Chiều cao của video bằng 100% container */
   object-fit: cover; /* Giữ tỷ lệ khung hình của video */
   opacity: 0.75;
}

.hero-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(-45deg, #FF5E62 0%, #FEC983 100%);
   opacity: 0.8;
   pointer-events: none; /* Để các phần tử phía trên có thể nhấp được */
}

.hero-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   align-items: center;
   /* text-align: center; */
   color: white;
   z-index: 2;
   width: 80%;
}

@media (max-width: 767px) {
   .hero-content {
       top: auto; /* Đặt top tự động để phù hợp với chiều cao của nội dung */
       bottom: 0; /* Đặt phần nội dung ở dưới cùng của màn hình */
       transform: translate(-50%, 0); /* Loại bỏ điều chỉnh trung tâm */
       text-align: center; /* Đảm bảo căn giữa văn bản trên màn hình nhỏ */
       width: 90%; /* Tăng chiều rộng của nội dung để phù hợp hơn trên màn hình nhỏ */
   }
   
   .hero-container {
       height: auto; /* Đặt chiều cao của container thành auto trên màn hình nhỏ */
       min-height: 100vh; /* Đảm bảo container có ít nhất chiều cao của viewport */
   }

   .hero-container video {
       height: auto; /* Đặt chiều cao của video thành auto để phù hợp với container */
       min-height: 100vh; /* Đảm bảo video có ít nhất chiều cao của viewport */
   }
}